
@font-face {
    font-family:'NanumGothic';
	src: url(../font/NanumGothic-Regular.ttf);    
}

@font-face {
    font-family:'NanumGothic Bold';
	src: url(../font/NanumGothic-Bold.ttf);    
}

@font-face {
    font-family:'NanumGothic Extra Bold';
	src: url(../font/NanumGothic-ExtraBold.ttf);    
}

body{
    background-color: rgb(252,255,254);
    font-family: NanumGothic, Arial, Helvetica, sans-serif;
}


#page_title {
    color:rgb(0,222,170);
    display: flex;
    justify-content: center;
    font-size: 4em;
    /*border: 3px solid blue;*/
}

#instructions {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 25px;
}

#main_content_box{
    margin: 5% 10%;
}


/*********************** ISSUES LANDING PAGE ***************************/


/* gradients source: https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient */

.issues {
    display: inline-block;
    /* padding: 0.5%; */
    position: relative;
    border: 3px solid transparent;
    border-radius: 50px;
    background: rgb(252,255,254);
    background-clip: padding-box;
    padding: 10px;
    margin: 1px;
    /* just to show box-shadow still works fine */
    /* box-shadow: 0 3px 9px black, inset 0 0 9px white; */
    /*font-family: 'NanumGothic-ExtraBold';*/
    font-weight: 900;
}

.issues::after {
    position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    background: linear-gradient(rgb(0,222,170), rgb(0,135,245));
    content: '';
    z-index: -1;
    border-radius: 50px;
}

.issues:hover{
    background: turquoise;
    background: linear-gradient( 45deg, rgba(0,222,170,1) 20%, rgba(0,135,245,1) 100%);
    color: white;
    cursor: pointer;
    background-clip: padding-box;
}

.selected{
    background: turquoise;
    background: linear-gradient( 45deg, rgba(0,222,170,1) 20%, rgba(0,135,245,1) 100%);
    color: white;
    cursor: pointer;
    background-clip: padding-box;
}

#next_button {
    /*display: inline-block;*/
    /* padding: 0.5%; */
    position: relative;
    border: 3px solid rgb(0,135,245);
    border-radius: 50px;
    background: rgb(252,255,254);
    background-clip: padding-box;
    margin: 1px;
    font-size: xx-large;
    font-weight: 600;
    padding: 0.2% 1%;
}

#next_button:hover{
    background: turquoise;
    background: linear-gradient( 45deg, rgba(0,222,170,1) 20%, rgba(0,135,245,1) 100%);
    color: white;
    cursor: pointer;
    background-clip: padding-box;

}


/******************************* QUIZ ********************************/

.quizBorder {
    border: 2px solid #000;
    border-radius: 10px;
}

#quizHeader {
    margin: 1% 2% 3%;
}

#statement {
    justify-content: center;
    text-align: center;
    margin: 2%;  
}


.quizContent{
    padding: 5px;
}






/*************** GENERAL ********************/

.centered {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}